{{}}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width color-{{ section.settings.color_scheme }}">
    <div class="testimonial__wrapper">
      <div class="testimonial__header">
        <h1 class="testimonial__title poppins-bold">{{ section.settings.title }}</h1>
      </div>
      <div class="swiper mySwiper mySwiper-{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'testimonial_card' %}
                <div class="testimonial__card swiper-slide">
                  <div class="testimonial__card-img-wrapper">
                    <img src="{{ block.settings.image |  img_url: 'medium' }}" class="testimonial__card-img" >
                  </div>
                  <div class="testimonial__card-info">
                    <h1 class="testimonial__card-title">{{ block.settings.title }}</h1>
                    <p class="testimonial__card-description">
                      {{ block.settings.description }}
                    </p>
                    <div class="testimonial__card-celeb-wrapper">
                      <span class="celeb-name">{{ block.settings.name }}</span>
                      <span>{% render 'icon-right' %} Verified Customer</span>
                    </div>
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>


{% schema %}
  {
    "name": "Celebrity Testimonials",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Header",
        "default": "Header"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Paragraph",
        "default": "Lorem ipsum dolor sit amet"
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "testimonial_card",
        "name": "Testimonial Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          }, {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Name"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Celebrity Testimonials"
      }
    ]
  }
{% endschema %}