{{ 'section-review-auto.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
<div class="page-width color-{{ section.settings.color_scheme }}">
<div class="review-auto__wrapper">
  <div class="review-auto__header">
    <h1 class="review-auto__title poppins-black">{{ section.settings.title }}</h1>
    <p class="review-auto__description poppins-regular">{{ section.settings.description }}</p>
  </div>
  <div class="swiper mySwiper mySwiper-{{ section.id }}">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'review_card' %}
            <div class="review-auto__card swiper-slide">
              <div class="review-auto__img-wrapper">
                <img src="{{ block.settings.image |  img_url: 'medium' }}" class="review-auto__img">
              </div>
              <div class="review-auto__info">
                <div class="review-auto__star-wrapper">
                  {% render 'icon-star' %}
                  {% render 'icon-star' %}
                  {% render 'icon-star' %}
                  {% render 'icon-star' %}
                  {% render 'icon-star' %}
                </div>
                <p class="review-auto__card-description poppins-regular">{{ block.settings.description }}</p>
                <div class="review-auto__customer-wrapper">
                  <span class="review-auto__name poppins-bold">{{ block.settings.name }}</span>
                  <span class="review-auto__verified-badge poppins-regular">{% render 'icon-right' %} Verified Customer</span>
                </div>
              </div>
            </div>
        {% endcase %}

      {% endfor %}
    </div>

  </div>

</div>
</div>
</div>


{{ 'https://unpkg.com/swiper/swiper-bundle.min.js' | script_tag }}

<script>
  document.addEventListener('DOMContentLoaded', () => {
  const swiperClass = `.mySwiper-{{ section.id }}`;

  let swiper = new Swiper(swiperClass, {
    centeredSlides: true, // Set to false to avoid centering
    loop: true,
    autoplay: {
      delay: 0,
      disableOnInteraction: false,
      reverseDirection: {% if section.settings.reverse_check %} true {% else %} false {% endif %},
    },
    grabCursor: true,
    slidesPerView: 'auto',
    spaceBetween: 10,
    freeMode: {
      enabled: true,
      momentum: false,
      momentumBounce: false,
      momentumRatio: 0,
      momentumVelocityRatio: 0,
      sticky: false,
    },
    speed: 10000,
    initialSlide: 0, // Ensure it starts from the first slide
    on: {
      click(e) {
        swiper.slideTo(this.clickedIndex);
      },
    },
  });
  });
</script>


{% schema %}
  {
    "name": "Review Autoplay",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Header",
        "default": "Header"
      }, {
        "type": "text",
        "id": "description",
        "label": "Paragraph",
        "default": "Lorem ipsum dolor sit amet"
      }, {
        "type": "checkbox",
        "id": "reverse_check",
        "label": "Reverse Scroll",
        "default": false
      },
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.multirow.settings.container_color_scheme.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "review_card",
        "name": "Review Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Name"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Review Autoplay"
      }
    ]
  }
{% endschema %}